<head>
	<style>
		body{
			background-color: #cecccc;
		}
	</style>
</head>

<div class ="center">
	<h1>Thomas Bates</h1>
	<%= image_tag 'wedding-pic.jpeg', size: "520x360"%>
	<h3>Sacramento, Ca</h3>
	<h3>Junior</h3>
	<p>Fun fact: I'm Greek, and authentic Greek food is my favorite food.</p>
	<p>I am most excited to create a rails API and then link that to a javascript front end.</p>
</div>
